<!-- outer span necessary for z index overlap; transformZ() messeses with behavior -->
<span [class.dropdown-z-index]="dropdown">
    <span #suggestionContainer [class.dropdown-z-index]="dropdown" contenteditable class="suggestion-container">
        <div [id]="wordID" class="misspelling" (click)="toggleDropdown($event)" contenteditable="false">
                {{ result.word }}
        </div> 
        <div [class.dropdown-active]="dropdown" class="dropdown-container" contenteditable="false" [class.dropdown-right-overflow]="overflowRight" [class.dropdown-bottom-overflow]="overflowBottom">
            <div class="dropdown-fill" (click)="toggleDropdown($event)"></div>
            <div [id]="dropdownID" class="dropdown-body">
                <div class="dropdown-title">{{ title }}</div>
                <div class="dropdown-suggestion" *ngFor="let suggestion of result.suggestions" (click)="updateWord(suggestion)"> {{suggestion}} </div>
                <input [(ngModel)]="otherInput" (keydown.enter)="updateWord(otherInput)" (input)="otherChange()" placeholder="Other (Enter Text)" class="dropdown-other"/>
                <div *ngIf="!other" class="dropdown-ignore" (click)="ignore()">Ignore</div>
                <div *ngIf="other" class="dropdown-ignore" (click)="updateWord(otherInput)">Submit</div>
            </div>
        </div>
    </span>       
</span>
