@import '../styles.scss';

.app {
    @extend .vertical-align;

    height: 100vh;
    width: 100vw;
    background-image: url('./background.jpg');
    background-size: cover;
    background-repeat: no-repeat; 
    background-position: center; 
    overflow: hidden;
    box-sizing: border-box;
}